.main {
    margin-left: 10% ;
    margin-right: 10%;
}

h1 {
    width: 50%;
    margin-top: 0;
    max-width: 160px;
}

.casualDiv {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0.25%;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background-color: #e9e9e9;
}   

footer {
    background-color: rgb(170, 170, 170);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 30px; 
    border-top: 2px solid #000000;
    padding-bottom: 2%;
}

body {
    margin-top: 5%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

#cite {
    border-top: 2px solid #000000;
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: #000000;
    color: #ffffff;
}

a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6, a:hover p {
    background-color: #000000;
    color: #ffffff;
}

a:active {
    background-color: #ff0000;
}

header {
    border-bottom: 1px solid #000000;    
}

#linkCatalog {
    margin-left: 10%;
    margin-right: 10%;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

p .picFont {
    height: 1em;
    width: auto;
}

figure {
    border: 1px solid #000000;
    padding: 1em;
}

figure figcaption {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    color:rgb(81, 81, 81);
}

figure .sbsimg {
    width: 32%;
    height: auto;
}

#ggb-element {
    align-items: center;
    align-content: center;
    align-self: center;
    width: 90%;

    margin: 4%;
}

#calculator {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: auto;
}

.blockArt article {
    padding: 7.5%;
    border: 1px solid #000000;

    margin-top: 5%;
    margin-bottom: 5%;
}

.blockArt article h1 {
    text-align: center;
    margin: auto;
}